/* Titles & Paragraphs */

h1, h2, h3, h4 {
	font-family: var(--typo-title);
	color: var(--yellow);
}

h1 {
	font-size: clamp(4rem, 2.14vw + 3.431rem, 6rem);
	line-height: clamp(4rem, 2.14vw + 3.431rem, 6rem);
}

h2 {
	font-size: clamp(3rem, 1.605vw + 2.574rem, 4.5rem);
	line-height: clamp(3rem, 1.605vw + 2.574rem, 4.5rem);
}

h4 {
	font-size: clamp(2rem, 0.535vw + 1.858rem, 2.5rem);
	line-height: clamp(2rem, 0.535vw + 1.858rem, 2.5rem);
}

p, a {
	font-size: clamp(1.125rem, 0.398vw + 1.022rem, 1.5rem);
	line-height: clamp(1.688rem, 0.916vw + 1.45rem, 2.55rem);
	font-family: var(--typo-body);
	color: var(--white);
}

a:hover {
	color: var(--yellow);
}

/* Wrappers */

.fullwidth {
	width: 100%;
	height: auto;
}

.wrapper {
	width: 90%;
	max-width: 1120px;
	margin: 0 auto;
}

/* Button CTA */

.button-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	width: fit-content;
	padding: 1rem 2rem;
	font-weight: 700;
	border-radius: 3rem;
	background-color: var(--bgc-button-cta);
}

.button-cta:hover {
	color: var(--black);
	background-color: var(--bgc-button-cta-hover);
	box-shadow: 0 0 40px 0 var(--glow-magent);
}

.button-cta-img {
	width: 100%;
	max-width: 36px;
}

/* Navbar */

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	padding: 24px;
	background-color: red;
}

.nav-brand {
	background-color: blue;
}

.nav-img {
	max-width: 96px;
}

.nav-container {	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	background-color: blue;
}


.nav-container-item:nth-child(1) {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	border-radius: 4rem;
	background-color: var(--gray-dark);
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-menu-link {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: .5rem;
	text-wrap: nowrap;
	font-weight: 500;
}
.nav-menu-link:hover {
	color: var(--nav-link-hover);
}

.nav-menu-icon {
	width: 100%;
	max-width: 32px;
	background-color: red;
}

.nav-social {
	display: flex;
	align-items: center;
	gap: 24px;
}

.nav-social-item {
	color: var(--icon-social);
}

.nav-social-item:hover {
	color: var(--icon-social-hover);
}

.nav-social-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 48px;
	color: var(--icon-social);
}

.nav-social-icon:hover {
	color: var(--icon-social-hover);
}

/* Header */

.header {
	width: 100%;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col-50 {
	flex-basis: 50%;
}

.col-50:nth-child(1) {
	display: flex;
	flex-direction: column;
}

.hero-title {
	color: var(--heading-1);
	margin-bottom: 24px;
}

.hero-text {
	margin-bottom: 24px;
}

.hero-img {
	overflow: visible;
	width: 100%;
	max-height: 700px;
}

@media screen and (max-width: 425px) {
	.hero {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		padding: 0;
	}
}

/* Main */

.main {
	width: 100%;
}

/* Magazine Section */

.magazine {
	margin-top: 140px;
	margin-bottom: 140px;
}

.magazine-title {

	color: var(--heading-2);
	margin-bottom: 2rem;
}

/* About Section */

.about {
	margin-top: 140px;
	margin-bottom: 140px;
	display: flex;
}

.about-item {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 48px;
	padding: 24px;
}

.about-item:nth-child(1) {
	align-items: center;
}

.about-img {
	max-width: 80%;
	border-radius: 24px;
	box-shadow: 0 0 40px 10px var(--glow-magent);
}

.about-title {

	color: var(--heading-1);
}

.about-text {

}

/* Team */

.team-title {

	color: var(--heading-1);
	margin-bottom: 48px;
}

.slider-container {
	margin-bottom: 240px;
}

.slider-wrapper {
	padding: 64px;
}

.slider-card {
	border-radius: 24px;
	overflow: hidden;
	transition: box-shadow 0.3s ease;
}

.slide-overlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	height: 80%;
	background: linear-gradient(#00000000, var(--magent));
	opacity: 0;
	transition: opacity 0.5s ease;
}

.slider-card:hover .slide-overlay {
	opacity: 1;
}

.slide-name {

	color: var(--heading-2);
}

.slide-rol {

}

.slide-img {
	width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--magent);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: clamp(2.25rem, 0.803vw + 2.037rem, 3rem);
	line-height: clamp(2.25rem, 0.803vw + 2.037rem, 3rem);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	color: var(--black);
}

.swiper-pagination-bullet {
	background-color: var(--cyan);
	width: 24px;
	height: 24px;
}

/* Footer */
.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 120px 24px;
	background-color: var(--gray-dark);
}

.footer div {
	flex-grow: 1;
}

.footer-brand {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.footer-img {
	max-width: 300px;
}

.footer-menus {
	display: flex;
}

.footer-menu-1,
.footer-menu-2 {
	display: flex;
	flex-direction: column;
	flex-basis: 10%;
}

.footer-menu-link {
	display: flex;
	width: fit-content;
	align-items: center;
	gap: 12px;
	color: var(--nav-link);
	padding: 8px 0;
}

.footer-menu-link:hover {
	color: var(--nav-link-hover);
}

.footer-menu-icon {
	max-width: 18px;
}

.footer-social {
	display: flex;
	justify-content: center;
	gap: 12px;
}

.footer-social-icon {
	width: 36px;
	color: var(--icon-social);
}

.footer-social-icon:hover {
	color: var(--icon-social-hover);
}
