/* Estilos de la web Revista Enfoco */
.header{
    background-color: var(--black);
    width: 100%;
    padding: 12px;
}
.wrapper{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
}
.col-50{
    max-width: 544px;
    max-height: 544px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-size-adjust: 20px;
}
.hero-title{
    max-width: 544px;
    color: var(--heading-1);
    font-family: var(--typo-title);
    font-size: 56pt;
    padding: 24px;
}
.hero-text{
    max-width: 544px;
    color: var(--normal);
    font-family: var(--typo-body);
    font-size: 12pt;
    padding: 24px;
}
.button-cta{
    display: flex;
    margin-left: 20px;
    padding: 24px 8px;
    width: 153px;
    height: 38px;
    border-radius: 36px;
    gap: 12px;
    align-items: center;
    border-style: none;
    box-sizing: border-box;
    background-color: var(--bgc-button-cta);
    color: var(--txt-button-cta);
    font-family: var(--typo-body);
    font-size: 10pt;
    font-weight: 700;
}
.button-cta:hover{
    color: var(--txt-button-cta-hover);
    background-color: var(--bgc-button-cta-hover);
}
.button-cta-img{
    max-width: 24px;
}

.about{
    background-color: aqua;
}