/* Titles & Paragraphs */

:target {
  scroll-margin-top: 120px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--typo-title);
  color: var(--yellow);
}

h1 {
  font-size: clamp(4rem, 2.14vw + 3.431rem, 6rem);
  line-height: clamp(4rem, 2.14vw + 3.431rem, 6rem);
}

h2 {
  font-size: clamp(3rem, 1.605vw + 2.574rem, 4.5rem);
  line-height: clamp(3rem, 1.605vw + 2.574rem, 4.5rem);
}

h4 {
  font-size: clamp(2rem, 0.535vw + 1.858rem, 2.5rem);
  line-height: clamp(2rem, 0.535vw + 1.858rem, 2.5rem);
}

p {
  font-size: clamp(1.125rem, 0.398vw + 1.022rem, 1.5rem);
  line-height: clamp(1.688rem, 0.916vw + 1.45rem, 2.55rem);
  font-family: var(--typo-body);
  color: var(--white);
}

a {
  font-size: clamp(1rem, 0.134vw + 0.964rem, 1.125rem);
  line-height: clamp(1rem, 0.134vw + 0.964rem, 1.125rem);
  font-family: var(--typo-body);
  color: var(--white);
}

a:hover {
  color: var(--yellow);
}

/* Wrappers */

.fullwidth {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

/* Buttons */

.button-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  text-wrap: nowrap;
  padding: 0.6rem 1.2rem;
  font-weight: 700;
  border-radius: 4rem;
  background-color: var(--bgc-button-cta);
}


.button-cta:hover {
  color: var(--black);
  background-color: var(--bgc-button-cta-hover);
  box-shadow: 0 0 40px 0 var(--glow-magent);
}

.button-cta-img {
  min-width: 32px;
  max-width: 40px;
}

.button-menu {
  display: none;

  background-color: var(--cyan);
}

.button-menu-svg {
  min-width: 2.8rem;
  max-width: 3.6rem;
}

@media screen and (max-width: 425px) {
  .button-cta {
    padding: 0.4rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .button-menu {
    display: block;
    cursor: pointer;
  }
}


.button-secondary {
  margin: 0 auto;
  padding: 1rem 2rem;
  width: fit-content;
  font-weight: 800;
  color: var(--white);
  border-radius: 4rem;
  background-color: var(--cyan);
}

.button-secondary:hover {
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0 0 40px 0 var(--glow-cyan);
}

/* Navbar */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  gap: 1rem;
}

.nav-brand {
  padding: 1rem 0;
}

.nav-img {
  width: 80px;
  min-width: 54px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container-item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.nav-container-item:nth-child(1) {
  border-radius: 4rem;
  background-color: var(--gray-dark);
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
  text-wrap: nowrap;
  font-weight: 500;
}

.nav-menu-link:hover {
  color: var(--nav-link-hover);
}

.nav-menu-icon {
  min-width: 1rem;
  max-width: 1.4rem;
}

.nav-social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-social-item {
  color: var(--icon-social);
}

.nav-social-item:hover {
  color: var(--icon-social-hover);
}

.nav-social-icon {
  min-width: 1.8rem;
  max-width: 2.2rem;
  color: var(--icon-social);
}

.nav-social-icon:hover {
  color: var(--icon-social-hover);
}

@media screen and (max-width: 768px) {
  .nav {
    gap: 0;
  }

  .nav-container-item:nth-child(1) {
    border-radius: 2rem;
    background-color: var(--black);
  }

  .menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
  }

  .menu.active {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-menu-link {
    padding: 1rem;
  }

  .nav-social {
    padding: 1rem;
  }
}

/* Header */

.header {
  width: 100%;
  margin: 12rem 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-50 {
  flex-basis: 50%;
}

.col-50:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.hero-title {
  color: var(--heading-1);
  margin-bottom: 24px;
}

.hero-text {
  margin-bottom: 24px;
}

.hero-img {
  overflow: visible;
  width: 100%;
  max-height: 700px;
}

@media screen and (max-width: 425px) {
  .header {
    margin: 7rem 0;
  }

  .hero {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 0;
  }
}

/* Main */

.main {
  width: 100%;
}

/* Magazine Section */

.magazine {
  margin-top: 140px;
  margin-bottom: 140px;
	padding: 0 2rem;
}

.magazine-title {
  color: var(--heading-2);
  margin-bottom: 2rem;
}

/* About Section */

.about {
  margin: 8rem 0;
  display: flex;
}

.about-item {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  padding: 24px;

}

.about-item:nth-child(1) {
  align-items: center;
}

.about-img {
  max-width: 360px;
  border-radius: 24px;
}

.about-title {
  color: var(--heading-1);
}



@media screen and (max-width:480px) {
  .about {
    flex-direction: column-reverse;

  }
}

/* Team */
.team {
  margin: 8rem 0;
}

.team-title {
  color: var(--heading-1);
}

.slider-container {
  margin-bottom: 240px;
}

.slider-wrapper {
  padding: 64px;
}

.slider-card {
  border-radius: 24px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.slide-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(#00000000, var(--magent));
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-card:hover .slide-overlay {
  opacity: 1;
}

.slide-name {
  color: var(--heading-2);
}


.slide-img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--magent);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: clamp(2.25rem, 0.803vw + 2.037rem, 3rem);
  line-height: clamp(2.25rem, 0.803vw + 2.037rem, 3rem);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--black);
}

.swiper-pagination-bullet {
  background-color: var(--cyan);
  width: 24px;
  height: 24px;
}


/* Contacto */

.contact {
  max-width: 90%;
  margin: 8rem auto;
  padding: 10rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.295);
}

.contact-title,
.contact-text {

  margin-bottom: 2rem;
}


/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 120px 24px;
  background-color: var(--gray-dark);
}

.footer div {
  flex-grow: 1;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer-img {
  max-width: 300px;
}

.footer-menus {
  display: flex;
}

.footer-menu-1,
.footer-menu-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}

.footer-menu-link {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 12px;
  color: var(--nav-link);
  padding: 8px 0;
}

.footer-menu-link:hover {
  color: var(--nav-link-hover);
}

.footer-menu-icon {
  max-width: 18px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-social-icon {
  width: 36px;
  color: var(--icon-social);
}

.footer-social-icon:hover {
  color: var(--icon-social-hover);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 2rem;

  }

  .footer-menus {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .footer-menu-1,
  .footer-menu-2 {
    gap: 1rem;
  }

  .footer-menu-link {
    width: 100%;
  }
}

/* Blog */

.post-card {
	background-color: var(--black);	
}

.post-link {
	
	background-color: var(--black);
}