.fullwidth {
	width: 100%;
	height: auto;

	background-color: var(--black);
}

/* Navbar */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-brand {

}

.nav-img {
	width: 64px;
}

.nav-container {
	display: flex;
	align-items: center;
	gap: 32px;

}

.nav-container-item {
	display: flex;
	align-items: center;
	gap: 32px;
}

.nav-container-item:nth-child(1) {
	padding: 12px;
	border-radius: 48px;
	background-color: var(--gray-dark);
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 24px;
}

.nav-menu-item {

}

.nav-menu-link {
	padding: 12px 8px;
	display: flex;
	gap: 12px;
	font-family: var(--typo-body);
	font-size: 20pt;
	font-weight: 500;
	color: var(--nav-link)
}

.nav-menu-link:hover {
	color: var(--nav-link-hover);
}

.nav-menu-icon {
	max-width: 24px;
}

.nav-social {
	display: flex;
	align-items: center;
	gap: 24px;

}

.nav-social-item {

}

.nav-social-icon {
	width: 48px;
}


/* Button CTA */

.button-cta {
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	padding: 12px 24px;
	color: var(--txt-button-cta);
	font-family: var(--typo-body);
	font-size: 22pt;
	font-weight: 700;
	border-radius: 48px;
	background-color: var(--bgc-button-cta);
}
.button-cta:hover{
	color: var(--txt-button-cta-hover);
	background-color: var(--bgc-button-cta-hover);

}
.button-cta-img {
	max-width: 40px;
}

